.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.center-square{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    margin-bottom: 60px;
 
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}