.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    height: 350px;
}
.center-square{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    margin-bottom: 60px;
    width: 30%;
    height: 300px;
 
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    margin:0;
    padding-right:40px
}
.row-information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    padding-right:40px
}
.column-information{
    display: flex;
    flex-direction: column;
    margin:0;
    padding-right:40px
}
.row-img{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.row-button{
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0
}
.title{
    font-family: Megrim;
    padding-right: 5px;
}
.header-title{
    color:red;
    font-weight: 300    ;
}
.img{
    width: 40px;
  }
.button{
    position: relative;
}

@media (max-width: 800px) {
    .center-square {
      flex-direction: column;
      width: 40%;
      height: 350px;
    }
    .button{
        padding-top: 15px;
    }
  }