<app-header></app-header>
<div class="center-flex">
    <div class="center-square">
        <div class="form">
            <h3 class="header-title">MI CUENTA</h3>
            <div class="row">
                <div>
                    <div class="row-information">
                        <div class="title"><p>Nombre de usuario:</p></div>
                        <p>{{sessionUser.username}}</p>
                    </div>
                    <div class="row-information">
                        <div class="title"><p>Correo:</p></div>
                        <p>{{sessionUser.email}}</p>
                    </div>
                    <div class="column-information">
                        <div class="title">Mis monedas:</div>
                        <div class="row-img">
                            <div *ngFor="let coin of myCoins">
                                <img [src]="coin.symbol" class="img">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="button">
            <button mat-raised-button (click)="addMoney()">Añadir Saldo</button>
        </div>
    </div>
</div>

