.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.center-square{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    margin-bottom: 60px;
    width: 30%;
 
}
.row{
    display: flex;
    flex-direction: row;
    margin:0
}
.row-button{
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0
}
.title{
    font-family: Megrim;
    padding-right: 20px;
}
.header-title{
    color:red;
    font-weight: 300    ;
}
