<app-header></app-header>
<body> 
    <div class="welcome-flex">
        <div class="welcome-content">
            <div class="welcome-title">
                Bienvenido
            </div>
            <div class="welcome-msg">
                Compra y vende cryptomonedas en tu cartera más ligera!
            </div>
            <div class="welcome-button">
                <button  mat-raised-button color="warn" class="button" (click)="goToLogIn()">Log In</button>
                <button  mat-raised-button class="button" (click)="goToRegister()">Register</button>
            </div>
        </div>
        
    </div>
    
</body>