.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    margin:0;
    padding-right: 10px;
}
.row-button{
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0
}
.title{
    font-family: Megrim;
    padding-right: 5px;
}
.header-title{
    color:red;
    font-weight: 300;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 4px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
    -webkit-appearance: textfield
  }