.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 100px;
  }
  .img{
    width: 40px;
  }
.mat-header-row{
  background-color: black;
  
}
.table-title{
  color: white;
  font-family: Megrim;
  font-size: large;
}
.button-buy{
  margin: 10px;
  background-color: red;
  color:white
}
.scroll{
  height: 700px;
  overflow: auto;
}