.coin-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.center-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    
}
.table{
    width: 100%;
}