<app-header></app-header>
<div class="center-flex">
    <div class="center-square">
        <div class="form">
            <h3 class="header-title">INICIAR SESIÓN</h3>
            <form #logInForm = "ngForm" (ngSubmit)="logIn(logInForm)" >
                <mat-form-field appearance="outline" class="form">
                    <mat-label>Email:</mat-label>
                    <input matInput placeholder="Correo electrónico..." ngModel required #email = 'ngModel' name="email">
                </mat-form-field>
                <mat-form-field  appearance="outline" class="form">
                    <mat-label>Contraseña:</mat-label>
                    <input matInput type="password" placeholder="Contraseña..." required ngModel #password="ngModel" name="password">
                </mat-form-field>
                <button mat-raised-button class="button" color="warn">Iniciar Sesion</button>
            </form>
            <div class="bottom-button">
                <button mat-button (click)="toWelcome()">Atrás</button>
                <button mat-button (click)="toRegister()">Registarme</button>
            </div>
            
        </div>
    </div>
</div>
